<form role="form">
  <div class="tab-content">

    <div class="tab-pane active" role="tabpanel" id="step1">
      <div class="cartWrapper">
        <div class="product">
          <img src="assets/image/1.jpg" width="250"/>
          <div class="productInfo">
            <div class="productPrice">
              Yamaha XVS650 $ 3299.99
            </div>
            <div class="productName">
              Up for sale is my bike I have owned this for 10 years comes with years mot and mot's for the 10 years
              I've owned never let me down runs and rides faultless any more information call 07979305574 pls no time
              wasters
            </div>
          </div>
        </div>
        <div class="product">
          <img src="assets/image/2.jpg" width="250"/>
          <div class="productInfo">
            <div class="productPrice">
              Yamaha XVS 950 Midnight Star $ 13999.99
            </div>
            <div class="productName">
              RESERVE NOW! Debit and credit cards accepted. Over 1,000 bikes to choose from - our bikes are
              the lowest priced in the UK, so hurry as stock moves quickly - all our motorbikes are HPI clear unless
              stated - we check all bikes for ABS, DCT and will list panniers where applicable. Visit our website to
              see walk around videos, detailed photographs and full specification. If you are interested in buying,
              selling, or part exchanging a motorbike we can help. All part exchanges are considered - visit our website
              to get a valuation
            </div>
          </div>
        </div>
        <div class="product">
          <img src="assets/image/3.jpg" width="250"/>
          <div class="productInfo">
            <div class="productPrice">
              Yamaha Stryker CUSTOM XVS 1300 $ 11999.99
            </div>
            <div class="productName">
              These models are rare as hens teeth and this particular example is an absolute peach. Very low mileage,
              handbook, service book, FSH. fitted with Cobra drag pipes also. The Custom or Stryker as it was more
              commonly known in the states was only distributed in the EU for a couple of years before it fell foul of
              Euro 4 emmissions. This bike has the notoriously long rake on the front similar to its big brother the 1900 Raider.
              It really is a superb bike and one that will retain its value over the years owing to the scarceness of them.
            </div>
          </div>
        </div>
      </div>
      <h3>Total with discount: 999.99$</h3>
      <a class="checkout-button" routerLink="/checkout">
        Checkout
      </a>
    </div>

  </div>
</form>
